# -- Difference between Python and SQL--

-- What they are:

	•	Python: a programming language (you can write full programs).  
	•	SQL: a query language (mainly used to work with data inside databases).

-- Main purpose

	•	Python: logic + automation + applications + data processing.
	•	SQL: store, retrieve, filter, join, update data in tables.

-- What they can do:

Python can do almost anything:
	•	loops, conditions, functions, classes
	•	read/write files, call APIs, build UI, ML, automation

SQL is focused on data operations:
	•	SELECT, INSERT, UPDATE, DELETE
	•	JOIN, GROUP BY, ORDER BY, WHERE

# ----------- Data Types in Python ----------------
1. Integer (int)

	•	Integer means whole number (no decimal).

In [4]:
a = 9
b = 3
print(a + b)
print(type(a+b))

12
<class 'int'>

2. Float (float)

	•	Float means decimal number.

In [5]:
x = 5
print(type(x))     # int

y = 1.234
print(type(y))     # float

z = x + y
print(z)           # 6.234

<class 'int'>
<class 'float'>
6.234

3. Boolean (bool)

	•	Boolean can be only:
	•	True
	•	False

In [6]:
b1 = True
b2 = False
print(type(b2))     # bool

<class 'bool'>

4. String (str)

	•	A string is text.
	•	Can be written using	:	' ' (single quotes), 	" " (double quotes), 	""" """ (triple quotes)

In [7]:
name = "my name is Joey's tribiani"
print(type(name))     # str
print(name)

<class 'str'>
my name is Joey's tribiani

5. Complex (complex)

	•	Complex numbers are written like:
	•	x + yj
	•	x = real part
	•	y = imaginary part

In [9]:
j = 1.0 - 2.0j
print(type(j))        # complex

<class 'complex'>

# Variables in Python

	•	A variable in Python is created by assigning a value.
	•	Python has dynamic typing → same variable can store different values/types.

In [10]:
length = 10
length = 15

# Arithmetic Operations

In [11]:
a = 10
b = 3

print(a + b)   # addition
print(a - b)   # subtraction
print(a * b)   # multiplication
print(a / b)   # division
print(a % b)   # modulus (remainder)
print(a ** b)  # power
print(a // b)  # floor division

13
7
30
3.3333333333333335
1
1000
3

# Comparison Operators

In [12]:
a = 5
b = 7

print(a == b)  # equal
print(a != b)  # not equal
print(a < b)   # less than
print(a > b)   # greater than
print(a <= b)  # less than or equal
print(a >= b)  # greater than or equal

False
True
True
False
True
False

# Logical Operators

In [13]:
x = True
y = False

print(x and y)
print(x or y)
print(not y)

False
True
True

# Assignment Operators (Augmented)

In [ ]:
x = 5

x += 5     #  x = x + 5
x -= 5     #  x = x - 5
x *= 3     #  x = x * 3

# If-elif-else

In [ ]:
marks = int(input("Enter the Marks: "))

if marks >= 90:
    print("Grade A")
elif marks >= 75:
    print("Grade B")
elif marks >= 60:
    print("Grade C")
else:
    print("Fail")